/* _content/ToDoEU/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-z8qj8yh2pi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-z8qj8yh2pi] {
  color: #0077cc;
}
